<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
.jumbotron {
color: #0e1111;
position:relative;
overflow:hidden;
height:100vh;
margin-bottom: -500px;
z-index: -1;
}
  </style>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ Quote }}</h1>
    <p class="lead">{{ Author }}</p><small>ID : {{ ID }}</small>
    <br>
    <br>
    <p>API</p>
    <code>http://127.0.0.1:8000/quote</code>
    <br>
    <code>http://127.0.0.1:8000/quote?id=1</code>
  </div>
</div>
</body>

</html>